@font-face {
  font-family: "Inter";
  src: local("Inter"), url(../fonts/Inter.ttf) format("truetype");
}

$font-inter: "Inter", sans-serif;

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.search {
  border: 2px solid black;
  font-family: $font-inter;
  text-align: center;
  padding: 0.5rem;
  margin-bottom: 32px;
  min-width: 350px;
  outline: none;
  border-radius: 4px;
  box-shadow: 0px 3px 6px rgba(41, 40, 98, 0.2);
}

.container-grid {
  display: grid;
  grid-template-columns: repeat(4, minmax(240px, 309px));
  grid-template-rows: repeat(2, minmax(1fr, 309px));
  gap: 16px;
  justify-content: center;
}

.coctail {
  font-family: $font-inter;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 150%;
  padding: 16px 16px 24px;
  background-color: #ffffff;
  width: 100%;
  height: 100%;
  color: #000000;
  border-radius: 0 0 4px 4px;

  &__detail {
    font-size: 13px;
    line-height: 130%;
  }

  &__big {
    font-size: 24px;
  }

  &__two-lines {
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
  }
}

img {
  width: 100%;
  height: 240px;
  object-fit: cover;
  border-radius: 4px 4px 0 0;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  position: relative;
  box-shadow: 0px 33px 60px rgba(41, 40, 98, 0.18);
  flex: none;
  order: 0;
  flex-grow: 1;
  border-radius: 4px;
  cursor: pointer;
  transition: transform 0.2s;
}

.card:hover {
  -ms-transform: scale(1.022);
  -webkit-transform: scale(1.022);
  transform: scale(1.022);
}

.selected {
  grid-row: 1 / 3;
  grid-column: 3 / 5;
  img {
    height: 336px;
  }
  .coctail {
    font-size: 24px;
  }
  .coctail__detail {
    font-size: 16px;
  }
  .coctail__two-lines {
    display: block;
  }
}

.selected:hover {
  transform: none;
}

.btn-close {
  position: absolute;
  width: 48px;
  height: 48px;
  right: 0px;
  top: 1px;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 0px 0px 0px 4px;
  background-image: url("../img/Vector.svg");
  background-repeat: no-repeat;
  background-size: 28px;
  background-position: 10px;
}

@media screen and (max-width: 992px) {
  .container-grid {
    grid-template-columns: repeat(3, minmax(240px, 309px));
    grid-template-rows: repeat(2, minmax(1fr, 309px));
    gap: 8px;
  }
  .selected img {
    height: 240px;
  }
}

@media screen and (max-width: 760px) {
  .container-grid {
    grid-template-columns: repeat(2, minmax(240px, 309px));
    grid-template-rows: repeat(2, minmax(1fr, 309px));
  }
  .selected {
    grid-row: 1 / 3;
    grid-column: 2 / 4;
  }
}
