@font-face {
  font-family: 'Futura';
  src: local('Futura Regular'), local('Futura-Regular'),
      url('../fonts/FuturaLT.woff2') format('woff2'),
      url('../fonts/FuturaLT.woff') format('woff'),
      url('../fonts/FuturaLT.ttf') format('truetype');
}

@font-face {
  font-family: 'Futura LT';
  src: url('../fonts/FuturaLT-Bold.eot');
  src: local('Futura LT Bold'), local('FuturaLT-Bold'),
      url('../fonts/FuturaLT-Bold.eot?#iefix') format('embedded-opentype'),
      url('../fonts/FuturaLT-Bold.woff2') format('woff2'),
      url('../fonts/FuturaLT-Bold.woff') format('woff'),
      url('../fonts/FuturaLT-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

$font-futura: "Futura", sans-serif;
$font-futura-lt: "Futura LT", sans-serif;

* {
  box-sizing: border-box;
}

body {
  background-color: #f5f5f5;
}

h1 {
  font-family: $font-futura-lt;
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 100%;
  color: #000000;
  padding-bottom: 24px;
}

h3 {
  font-family: $font-futura;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 150%;
  color: #000000;
}

@import "./coctail.scss";
